h1{
      font-family: 'Poppins', sans-serif;
      font-family: 'Rubik Moonrocks', cursive;
      color: crimson;
      font-size: 40px;
}
p{
      font-size: large;
      color: rgb(231, 6, 100);
}
.orange-color{
      color: orange;
}
section{
      display: flex;
}
.first-change{
      width: 50%;
      padding-left: 5%;
}
.first-change img{
      width: 80%;

}
.link-button{
      color: white;
      font-style: italic;
      font-weight: 900;
      text-decoration: none;
      background-image: linear-gradient(purple, blue);
      padding: 20px 50px;
      border-radius: 0px;

}
#sec-2{
      display: flex;
      background-image: url(image/7.png);
      background-repeat: no-repeat;
      background-size: 100%;
      margin-top: 50px;

      

}
.sec-3{
      width: 50%;

}
.sec-3 img{
      width: 50%;
      margin-left: 10%;
}
.sec-3 h1{
      margin-top: 5%;
      font-size: 3em;
      margin-left: 20%;
}
.sec-3 p{
      max-width: 500px;
      text-align: justify;
      margin-left: 20%;
}
.sec-4{
      text-align: center;
}
.sec-4 p{
      max-width: 500px;
      text-align: justify;
      margin-left: 36%;
}
.top{
      margin-left: 20%;
      
}
.second-change{
      width: 55%;
      margin-left: 5%;
      margin-right: 5%;
       box-shadow: 10px 20px 40px rgb(173, 167, 152);
       border-radius: 20px;
}
.second-change img{
    
      margin-top: 5%;
      margin-left: 5%;
     width: 80%;
      padding: 40px;

}
.second-change h1{
      text-align: center;
     

}
.second-change p{
text-align: justify;

margin-left: 5%;
margin-right: 5%;
        
}
.box{
      width: 90%;
      margin-top:5% ;
      margin-left: 5%;
      box-shadow: 10px 2px 40px rgb(154, 152, 144);
      border-radius: 20px;
}
.tuttut{
      margin: auto;
     
 
}
.last{
      text-align: center;
      margin: auto;
      color: gray;
      font-size: 30px;
      

}
.section{
      margin-top: 100px;
      padding: 40px;
      background-color: black;

}
.one{
      color: tomato;
}
.last p{
      color: white;
}
